/*@keyframes animatebackground {
    from {
      background-position-y: 0;
      background-position-x: 0;
    }
    to {
      background-position-y: 200rem;
      background-position-x: 200rem;
    }
  }*/

*,*:after,*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

body {
  background-color: black!important;
  /*background-image: url('/assets/images/shapes.png')!important;*/
  background-size: 30rem!important;

  color: #c4c3ca;
  overflow: hidden;
  font-family: proxima-soft, sans-serif;
  animation: animatebackground 100s infinite!important;
}
.card {
  max-width: 360px;
  margin: 100px auto;
  background:#1D1D1D;
  padding:30px;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  height: 100%;
}

fieldset {
  border: 0px;
}
.card h2{
  font-weight: 100;
  font-size: 24px;
  margin: 0 0 30px;
  color:rgb(78, 93, 148);
}
.input-container{
  position: relative;
  margin: 0 0 20px;
}
.input-container input{
  height:60px;
  width:100%;
  border:none;
  background:none;
  color:#666;
  line-height:60px;
  font-size:16px;
  font-weight:100;
  
}
.input-container .bar{
  width: 100%;
  height: 1px;
  position: absolute;
  bottom:0;
  background:#ccc;
}
.input-container .bar:before, .input-container .bar:after{
  width: 0;
  position: absolute;
  content:"";
  display:block;
  top:0;
  background:rgb(78, 93, 148);
  height:2px;
  transition:0.3s ease;
}
.input-container .bar:before{
  right:50%;
}
.input-container .bar:after{
  left:50%;
}

.input-container input:focus ~ .bar:before,
.input-container input:focus ~ .bar:after{
  width:50%;
}
.button-container{
  width: 100%;
  padding: 20px 0;
}
.button-container button{
  border:1px solid #ccc;
  background:none;
  width: 200px;
  height: 40px;
  border-radius: 40px;

  margin: 0 auto;
  display: block;
  transition: 0.3s ease;
  position: relative;
  overflow:hidden;
  cursor: pointer;
}
.button-container button span{
  color:#ccc;
  font-size:16px;
  z-index:1;
  position: relative;
  transition:0.3s ease;
}
.button-container button:hover{
  border:1px solid rgb(78, 93, 148);
}
.button-container button:hover span{
  color:rgb(78, 93, 148);
}
.button-container button:before{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top:50%;
  background:rgb(78, 93, 148);
  content:"";
  display: block;
  margin: -15px 0 0 -15px;
  opacity:0;
  transition:0.3s ease;
  border-radius:100%;
}
.button-container button:active span,
.button-container button:focus span{
  color:#fff;
}
.button-container button:active:before,
.button-container button:focus:before {
  opacity:1;
  transform:scale(10);
}

a {
  color:rgb(78, 93, 148);
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 15px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #34D08C;
}

.success .token {
  font-weight: 500;
  font-size: 15px;
}
